#startBtn {
	height: 50px;
	width: 150px;
	background: rgb(0,84,63);
	color: white;
}

#memoryBoard {
	height: 800px;
	width: 1180px;
	background: maroon;
	border: 4px solid rgb(0,84,63);
	margin: 0, auto;
	padding: 10px;
}

.tile {
	height: 225px;
	width: 225px;
	background-image: url(images/memory_tile.jpg);
	display: inline-block;
	margin-left: 42px;
	margin-right: 18px;
	margin-top: 10px;
	background-size: contain;
}

.images {
	height: 225px;
	width: 225px;
}