body {
	background: black;
	margin: 0;
}

#header {
	color: rgb(199,242,249);
	text-align: center;
	margin-top: -30px;
	font-size: 35px;
	text-shadow: 4px 4px black;
	font-family: 'Fontdiner Swanky', cursive;
}

#startBtn {
	height: 50px;
	width: 150px;
	margin-left: 1.5%;
	margin-top: 15px;
	font-size: 12px;
	background: rgb(199,242,249);
	color: rgb(217,62,2);
	border: 5px solid rgb(61,78,111);
	font-family: 'Fontdiner Swanky', cursive;
}

#memoryBoard {
	margin-left: 8%;
	margin-top: 2%;
	text-anchor: center;
	height: 845px;
	width: 1200px;
	background-image: url("images/bgrd_coraline.jpg");
	background-size: contain;
	border: 4px solid black;
	
}

.row {
	height: 234px;
	width: 150px;
	margin-left: 10%;
	margin-top: -2%;
	display: inline-block;
	background-size: contain;
}


.card{
	height: 234px;
	width: 150px;
	background-image: url("images/card_bkgrd.jpg");
	background-size: contain;
	display: inline-block;
	background-repeat: no-repeat;
}

.images {
	height: 225px;
	width: 225px;
}

@media only screen and (max-width: 480px) {
	.row {
		height: 156px;
		width: 100px;
		display: block;
		margin: 5px;
		background-size: cover;
	}

	.card {
		height: 156px;
		width: 100px;
		display: block;
		margin: 5px;
		background-size: cover;
	}

	.images {
	height: 156px;
	width: 100px;
	background-size: cover;
	}

}